*~
*.a
*.annot
*.bak
*.class
*.cma
*.cmi
*.cmo
*.cmx
*.cmxa
*.diff
*.eml
*.hi
*.jar
*.la
*.lo
*.log
*.o
*.orig
*.pyc
*.rej
*.swp
*.trs

.deps
.dirstamp
dll*.so
.gdb_history
.libs
Makefile
Makefile.in

/aclocal.m4
/autom4te.cache/
/build-aux/
/bundled/libvirt-ocaml/.depend
/bundled/libvirt-ocaml/libvirt_generated.c
/ChangeLog
/compile
/config.cache
/config.guess
/config.h
/config.h.in
/config.log
/config.sh
/config.status
/config.sub
/configure
/depcomp
/docs/stamp-virt-v2v*.pod
/docs/virt-v2v.1
/docs/virt-v2v-copy-to-local.1
/docs/virt-v2v-hacking.1
/docs/virt-v2v-input-vmware.1
/docs/virt-v2v-input-xen.1
/docs/virt-v2v-output-local.1
/docs/virt-v2v-output-openstack.1
/docs/virt-v2v-output-rhv.1
/docs/virt-v2v-release-notes-1.42.1
/docs/virt-v2v-support.1
/.gitattributes
/.git-module-status
/gnulib
/GNUmakefile
/installcheck.sh
/install-sh
/libtool
/local*
/ltmain.sh
/m4/ChangeLog
/m4/gnulib-cache.m4
/m4/intmax.m4
/m4/libtool.m4
/m4/lt~obsolete.m4
/m4/ltoptions.m4
/m4/ltsugar.m4
/m4/ltversion.m4
/maint.mk
/missing
/ocaml-dep.sh
/ocaml-link.sh
/po-docs/*/*.1
/po-docs/*/*.3
/po-docs/*/*.5
/po-docs/*/*.8
/po-docs/*/*.pod
/podwrapper.1
/podwrapper.pl
/po/*.gmo
/run
/stamp-h1
/test-data/test.iso
/test-data/blank-disks/blank-disk-*
/test-data/fake-virtio-win/fake-virtio-win.iso
/test-data/files/100kallnewlines
/test-data/files/100kallspaces
/test-data/files/100kallzeroes
/test-data/files/100krandom
/test-data/files/10klines
/test-data/files/abssymlink
/test-data/files/bin-x86_64-dynamic.gz
/test-data/files/hello.b64
/test-data/files/initrd
/test-data/files/initrd-x86_64.img
/test-data/files/initrd-x86_64.img.gz
/test-data/files/lib-i586.so.xz
/test-data/files/test-grep.txt.gz
/test-data/phony-guests/archlinux.img
/test-data/phony-guests/blank-*.img
/test-data/phony-guests/coreos.img
/test-data/phony-guests/debian.img
/test-data/phony-guests/fedora.img
/test-data/phony-guests/fedora-btrfs.img
/test-data/phony-guests/fedora-luks.img
/test-data/phony-guests/fedora-md1.img
/test-data/phony-guests/fedora-md2.img
/test-data/phony-guests/fedora-name.db
/test-data/phony-guests/fedora-packages.db
/test-data/phony-guests/guests.xml
/test-data/phony-guests/guests-all-good.xml
/test-data/phony-guests/stamp-fedora-md.img
/test-data/phony-guests/ubuntu.img
/test-data/phony-guests/windows.img
/test-data/phony-guests/windows-software
/test-data/phony-guests/windows-system
/test-harness/.depend
/test-harness/META
/test-harness/stamp-virt-v2v-test-harness.pod
/test-harness/virt-v2v-test-harness.1
/tests/libvirt-is-version
/tests/rhbz1232192.xml
/tests/test-v2v-cdrom.xml
/tests/test-v2v-conversion-of-*.sh
/tests/test-v2v-floppy.xml
/tests/test-v2v-mac.xml
/tests/test-v2v-networks-and-bridges.xml
/tests/test-v2v-print-source.xml
/tests/test-v2v-sound.xml
/tests/windows.vmdk
/v2v/.depend
/v2v/config.ml
/v2v/oUnit-*
/v2v/output_rhv_upload_*_source.ml
/v2v/real-*.d/
/v2v/real-*.img
/v2v/real-*.xml
/v2v/v2v_unit_tests
/v2v/var_expander_tests
/v2v/virt-v2v
/v2v/virt-v2v-copy-to-local
/virt-v2v-*.tar.gz
/website/*.html
/website/README.txt
/website/TODO.txt
